{% extends '::dashboard.html.twig' %}

{% block body -%}
    <h1>Company list</h1>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Customerstatus</th>
                <th>Prospectstatus</th>
                <th>Email</th>
                <th>Mobilephone</th>
                <th>Workphone</th>
                <th>Address</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Region</th>
                <th>Country</th>
                <th>Tags</th>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.customerStatus }}</td>
                <td>{{ entity.prospectStatus }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.mobilePhone }}</td>
                <td>{{ entity.workPhone }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.zipCode }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.tags }}</td>
                <td>{{ entity.id }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('company_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
