{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'contact.import'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'contact.import'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body -%}
    {#<table class="table table-striped table-hover">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>{{ 'type'|trans }}</th>#}
                {#<td>{{ entity.type }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ 'person'|trans }}</th>#}
                {#<td>{{ entity.person.getTitle }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ 'company'|trans }}</th>#}
                {#<td>{{ entity.company.getName }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<div class="actions">#}
        {#<a class="btn btn-default" href="{{ path('contact_list') }}">#}
            {#{{ 'backToTheList'|trans }}#}
        {#</a>#}

        {#<a class="btn btn-default"  href="{{ path('contact_edit', { 'id': entity.id }) }}">#}
            {#{{ 'edit'|trans }}#}
        {#</a>#}
        {#{{ form_start(delete_form) }}#}
            {#{{ form_widget(delete_form.submit) }}#}
        {#{{ form_end(delete_form) }}#}
    {#</div>#}
{% endblock %}
