{% extends 'dashboard.html.twig' %}

{% block title %} {{ 'lead.adding'|trans }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="form-actions">
            <div class="col-sm-12">
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-default" href="{{ path('contact') }}">
                    {{ 'backToTheList'|trans }}
                </a>
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
