{% extends '::dashboard.html.twig' %}

{% block title %}Deal list{% endblock %}

{% block body -%}
    <a class="btn btn-primary" href="{{ path('deal_new') }}">
        + Deal
    </a>
    {% for entity in entities %}
        <a href="{{ path('deal_show', { 'id' : entity.getId() }) }}">
            <div class="row list-row">
                <div class="col-md-8 list-item">
                    <h3>{{ entity.getName() }}</h3>
                    <div >
                        <p>{{ entity.getContact().getName() }}</p>
                    </div>
                </div>
                <div class="col-md-4 list-item">
                    <p>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</p>

                    {% if entity.getValue() is not null and entity.getCurrency() is not null %}
                        <p>{{ entity.getValue() }} {{ entity.getCurrency() }}</p>
                    {% endif %}
                </div>
            </div>
        </a>

    {% endfor %}

{% endblock %}
