{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'deal.title'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'deal.title'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body -%}
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                {% if entity.contact is not null %}
                    <th>{{ 'contact.title'|trans }}</th>
                    <td>{{ entity.contact.getName() }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ 'value'|trans }}</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>{{ 'currency'|trans }}</th>
                <td>{{ entity.currency }}</td>
            </tr>
            <tr>
                <th>{{ 'source'|trans }}</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>{{ 'tags'|trans }}</th>
                <td>{{ entity.tags }}</td>
            </tr>
            <tr>
                <th>{{ 'createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions">
        <a class="btn btn-default" href="{{ path('deal') }}">
            {{ 'backToTheList'|trans }}
        </a>

        <a class="btn btn-default"  href="{{ path('deal_edit', { 'id': entity.id }) }}">
            {{ 'edit'|trans }}
        </a>
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
