{% extends '::dashboard.html.twig' %}

{% block title %} Deal {% endblock %}

{% block body -%}
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                {% if entity.contact is not null %}
                    <th>Contact</th>
                    <td>{{ entity.contact.getName() }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ entity.currency }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ entity.tags }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions">
        <a class="btn btn-default" href="{{ path('deal') }}">
            Back to the list
        </a>

        <a class="btn btn-default"  href="{{ path('deal_edit', { 'id': entity.id }) }}">
            Edit
        </a>
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
