{% extends 'dashboard.html.twig' %}

{% block title %}
        <div class="col-sm-4">
            <h2>{{ 'report.title'|trans }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">{{ 'home'|trans }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'report.list'|trans }}</strong>
                </li>
            </ol>
        </div>
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Leads by Month
                            {#<small>With custom colors.</small>#}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="leadChart" width="528" height="246"></canvas>
                            {#<canvas id="lineChart" height="246" width="528" style="width: 528px; height: 246px;"></canvas>#}
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sales by Month
                            {#<small>With custom colors.</small>#}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="dealChart" width="528" height="246"></canvas>
                            {#<canvas id="lineChart" height="246" width="528" style="width: 528px; height: 246px;"></canvas>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="display: none;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bar Chart Example</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="barChart" height="246" width="528" style="width: 528px; height: 246px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {#<div class="col-lg-6">#}
                {#<div class="ibox float-e-margins">#}
                    {#<div class="ibox-title">#}
                        {#<h5>Polar Area</h5>#}

                    {#</div>#}
                    {#<div class="ibox-content">#}
                        {#<div class="text-center">#}
                            {#<canvas id="polarChart" height="246" width="528" style="width: 528px; height: 246px;"></canvas>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-lg-6">#}
                {#<div class="ibox float-e-margins">#}
                    {#<div class="ibox-title">#}
                        {#<h5>Pie </h5>#}

                    {#</div>#}
                    {#<div class="ibox-content">#}
                        {#<div>#}
                            {#<canvas id="doughnutChart" height="246" width="528" style="width: 528px; height: 246px;"></canvas>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#<div class="ibox float-e-margins">#}
                    {#<div class="ibox-title">#}
                        {#<h5>Radar Chart Example</h5>#}
                    {#</div>#}
                    {#<div class="ibox-content">#}
                        {#<div>#}
                            {#<canvas id="radarChart" height="563" width="1126" style="width: 1126px; height: 563px;"></canvas>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("leadChart");
        var leadChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                datasets: [{
                    label: '# of Leads',
                    data: [{{ leads|join(',') }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById("dealChart");
        var dealChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                datasets: [{
                    label: '# of Deals',
                    data: [{{ deals|join(',') }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>

{% endblock %}

