{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'settings.index'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'settings.index'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {{ form(form) }}
    {#<br><br>#}
    {#Tasks:#}
    {#<br>#}
    {#<a href="https://trello.com/app-key">https://trello.com/app-key</a>#}
    {#<br>#}
    {#<a href="http://i.imgur.com/ojIZ8iI.png">Todoist</a>#}
    {#<br>#}
    {#<a href="https://developer.wunderlist.com/apps">https://developer.wunderlist.com/apps</a>#}
    {#<br>#}
    {#<a href="http://i.imgur.com/cUwcABa.png">Asana</a>#}
    {#<br>#}
    {#<a href="http://i.imgur.com/cUwcABa.png">Any.do</a>#}

    {#<br><br>#}
    {#Email:#}
    {#<br>#}
    {#<a href="https://support.getresponse.com/faq/where-i-find-api-key">https://support.getresponse.com/faq/where-i-find-api-key</a>#}
    {#<br>#}
    {#<a href="http://kb.mailchimp.com/integrations/api-integrations/about-api-keys">http://kb.mailchimp.com/integrations/api-integrations/about-api-keys</a>#}
    {#<br>#}
    {#<a href="http://developer.constantcontact.com/home/api-keys.html">http://developer.constantcontact.com/home/api-keys.html</a>#}
    {#<br>#}
    {#<a href="https://developers.mailerlite.com/docs/authentication">https://developers.mailerlite.com/docs/authentication</a>#}
    {#<br>#}
    {#<a href="https://labs.aweber.com/docs/authentication">https://labs.aweber.com/docs/authentication</a>#}

    {#<br><br>#}
    {#SMS:#}
    {#<br>#}
    {#https://turbosms.ua/<br>#}
    {#http://sms.ru/<br>#}
    {#https://www.nexmo.com/<br>#}
    {#{{ form_errors(form) }}#}
    {#{{ form_rest(form) }}#}
    {#1) Email service integration<br>#}
    {#<form>#}
        {#<select name="email">#}
            {#<option value="mailerlite">MailerLite</option>#}
            {#<option value="getreponse">GetResponse</option>#}
            {#<option value="mailchimp">MailChimp</option>#}
            {#<option value="aweber">Aweber</option>#}
            {#<br><br>#}
            {#<input type="text" name="apikey" placeholder="API key">#}
            {#<br>#}
            {#<input type="submit">#}
        {#</select>#}
    {#</form>#}
    {#<br>#}
    {#2) Task service integration#}
    {#<form>#}
        {#<select name="email">#}
            {#<option value="wunderlist">WunderList</option>#}
            {#<option value="todoist">Todoist</option>#}
            {#<option value="asana">MailChimp</option>#}
            {#<option value="trello">Trello</option>#}
            {#<br><br>#}
            {#<input type="text" name="apikey" placeholder="API key">#}
            {#<br>#}
            {#<input type="submit">#}
        {#</select>#}
    {#</form>#}
    {#<table class="table table-striped table-hover">#}
    {#<tbody>#}
    {#<tr>#}
    {#<th>{{ 'type'|trans }}</th>#}
    {#<td>{{ entity.type }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>{{ 'person'|trans }}</th>#}
    {#<td>{{ entity.person.getTitle }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>{{ 'company'|trans }}</th>#}
    {#<td>{{ entity.company.getName }}</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}

    {#<div class="actions">#}
    {#<a class="btn btn-default" href="{{ path('contact') }}">#}
    {#{{ 'backToTheList'|trans }}#}
    {#</a>#}

    {#<a class="btn btn-default"  href="{{ path('contact_edit', { 'id': entity.id }) }}">#}
    {#{{ 'edit'|trans }}#}
    {#</a>#}
    {#{{ form_start(delete_form) }}#}
    {#{{ form_widget(delete_form.submit) }}#}
    {#{{ form_end(delete_form) }}#}
    {#</div>#}
{% endblock %}
