{% extends 'dashboard.html.twig' %}

{#{% block title %}{{ 'lead.captureFormTitle'|trans }}{% endblock %}#}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'lead.captureFormTitle'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'lead.captureFormTitle'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <style>
        code {
            white-space: normal;
        }
        .file-box {
            width: auto;
        }
    </style>
    <p>{{ 'lead.LCFdesc'|trans }}</p>

    <h3>{{ 'lead.exampleOfForm'|trans }}:</h3>
    <form action="http://crm.healthmarketing.me/lead/lead_capture_form" method="post">
        <br/>
        <div class="row">
            <div class="col-md-4">
                <input name="name" class="form-control" type="text" placeholder="{{ 'name'|trans }}" required disabled/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <input name="email" class="form-control" type="email" placeholder="{{ 'email'|trans }}" required
                       disabled/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <input name="phone" class="form-control" type="text" placeholder="{{ 'phone'|trans }}" required
                       disabled/>
            </div>
        </div>
        <br/>
        <input name="userId" class="form-control" type="hidden" placeholder="{{ app.user.username }}" required disabled/>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <input class="btn btn-primary" type="button" value="{{ 'submit'|trans }}" required disabled/>
            </div>
        </div>
    </form>

    Code:
    <script src="https://gist.github.com/andreybolonin/a9b9d4153d9c07a29e67703e628a72b3.js"></script>

{% endblock %}