{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}

{% extends 'dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'profile.title'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'profile.list'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Change password</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="http://webapplayers.com/inspinia_admin-v2.6.2.1/form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/form_basic.html#">Config option 1</a>
                                </li>
                                <li><a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/form_basic.html#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <form method="get" action="{{ path('fos_user_change_password') }}" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Current password</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.current_password, {'attr': { 'class': 'form-control' }}) }}
                                    {#{{ form(form.phoneNumber, {'attr': { 'class': 'form-control' }}) }}#}
                                    {#<span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">New password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="fos_user_change_password_form[plainPassword][first]"/>
                                    {#{{ form_widget(form.plainPassword, {'attr': { 'class': 'form-control' }}) }}#}
                                </div>
                            </div>
                            {#<div class="hr-line-dashed"></div>#}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Repeat new password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="fos_user_change_password_form[plainPassword][second]"/>
                                    {#{{ form_widget(form.plainPassword, {'attr': { 'class': 'form-control' }}) }}#}
                                    {#{{ form(form.phoneNumber, {'attr': { 'class': 'form-control' }}) }}#}
                                    {#<span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                    {#<button class="btn btn-white" type="submit">Cancel</button>#}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}