{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'deal.title'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'deal.list'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    {#<a class="btn btn-primary" href="{{ path('deal_new') }}">#}
    {#{{ 'add'|trans }}#}
    {#</a>#}

    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="order_id">Order ID</label>
                    <input type="text" id="order_id" name="order_id" value="" placeholder="Order ID" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="status">Order status</label>
                    <input type="text" id="status" name="status" value="" placeholder="Status" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="customer">Customer</label>
                    <input type="text" id="customer" name="customer" value="" placeholder="Customer" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_added">Date added</label>
                    <div class="input-group date">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span><input id="date_added" type="text" class="form-control" value="03/04/2014">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_modified">Date modified</label>
                    <div class="input-group date">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span><input id="date_modified" type="text" class="form-control" value="03/06/2014">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny default footable-loaded" data-page-size="15">
                        <thead>
                            <tr>

                                <th class="footable-visible footable-first-column footable-sortable">Order ID<span class="footable-sort-indicator"></span>
                                </th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Customer<span class="footable-sort-indicator"></span>
                                </th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Amount<span class="footable-sort-indicator"></span>
                                </th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Date added<span class="footable-sort-indicator"></span>
                                </th>
                                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Date modified<span class="footable-sort-indicator"></span>
                                </th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Status<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="text-right footable-visible footable-last-column footable-sortable">Action<span class="footable-sort-indicator"></span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in pagination %}
                                <tr class="footable-even" style="display: table-row;">
                                    <td class="footable-visible footable-first-column">
                                        <span class="footable-toggle"></span>
                                        <a href="{{ path('deal_show', { 'id' : entity.getId() }) }}">{{ entity.getId() }}</a>
                                    </td>
                                    <td class="footable-visible">
                                        {{ entity.getName() }}
                                    </td>
                                    <td class="footable-visible">
                                        {% if entity.getContact() %}
                                            <p>{{ entity.getContact().getName() }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="footable-visible">
                                        {{ entity.updatedAt|date('Y-m-d H:i:s') }}
                                    </td>
                                    <td class="footable-visible">
                                        {% if entity.getValue()is not null and entity.getCurrency()is not null %}
                                            <p>{{ entity.getValue() }}
                                                {{ entity.getCurrency() }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="footable-visible">
                                        <span class="label label-primary">{{ entity.getStage() }}</span>
                                    </td>
                                    <td class="text-right footable-visible footable-last-column">
                                        <div class="btn-group">
                                            <a href="{{ path('deal_show', { 'id': entity.id }) }}">
                                                <button class="btn-white btn btn-xs">View</button>
                                            </a>
                                            <a href="{{ path('deal_edit', { 'id': entity.id }) }}">
                                                <button class="btn-white btn btn-xs">Edit</button>
                                            </a>
                                            <a href="{{ path('deal_delete', { 'id': entity.id }) }}">
                                                <button class="btn-white btn btn-xs">Delete</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {{ knp_pagination_render(pagination) }}
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <a href="{{ path('deal_new') }}" class="btn btn-primary">
            <i class="fa fa fa-shopping-cart"></i>
            Add</a>
    </div>

{% endblock %}