{% extends 'base.html.twig' %}

{% block pageTitle %}
    {{ 'templates.doctor.list'|trans }}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'templates.doctor.firstName'|trans }}</th>
            <th>{{ 'templates.doctor.lastName'|trans }}</th>
            <th>{{ 'templates.doctor.specialization'|trans }}</th>
            <th>{{ 'edit'|trans }}/{{ 'delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>
                    {{ doctor.getFirstName() }}
                </td>
                <td>
                    {{ doctor.getLastName() }}
                </td>
                <td>
                    {{ doctor.getSpecialization() }}
                </td>
                <td>
                    <a href="{{ path('doctor_edit', { 'id' : doctor.getId() }) }}">{{ 'edit'|trans }}</a> / <a href="{{ path('doctor_delete', { 'id' : doctor.getId() }) }}">{{ 'delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('doctor_add') }}" class="btn btn-primary btn-sm">{{ 'add'|trans }}</a>
        </div>
    </div>
{% endblock %}