{% extends 'dashboard.html.twig' %}

{% block title %}Person list{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('person_new') }}">
        Create a new entry
    </a>
    {% for entity in entities %}
        <a href="{{ path('person_show', { 'id' : entity.getId() }) }}">
            <div class="row list-row">
                <div class="col-md-8 list-item">
                    <h3>{{ entity.getFirstName() }} {{ entity.getLastName() }}</h3>

                    <div class="hidden-list-fields">
                        <p>{{ entity.getTitle() }}</p>
                        <p>{{ entity.getCompanyName() }}</p>
                    </div>
                </div>
                <div class="col-md-4 list-item hidden-list-fields">
                    {% if entity.getEmail() is not null %}
                        <p>Email: {{ entity.getEmail() }}</p>
                    {% endif %}
                    {% if entity.getMobilePhone() is not null %}
                        <p>M: {{ entity.getMobilePhone() }}</p>
                    {% endif %}
                    {% if entity.getWorkPhone() is not null %}
                        <p>W: {{ entity.getWorkPhone() }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
