{% extends 'dashboard.html.twig' %}

{% block title %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ 'person.title'|trans }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">{{ 'home'|trans }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'person.list'|trans }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('person_new') }}">
        {{ 'add'|trans }}
    </a>
    {% for entity in entities %}
        <a href="{{ path('person_show', { 'id' : entity.getId() }) }}">
            <div class="row list-row">
                <div class="col-md-8 list-item">
                    <h3>{{ entity.getFirstName() }} {{ entity.getLastName() }}</h3>

                    <div class="hidden-list-fields">
                        <p>{{ entity.getTitle() }}</p>
                        <p>{{ entity.getCompanyName() }}</p>
                    </div>
                </div>
                <div class="col-md-4 list-item hidden-list-fields">
                    {% if entity.getEmail() is not null %}
                        <p>{{ 'email'|trans }}: {{ entity.getEmail() }}</p>
                    {% endif %}
                    {% if entity.getMobilePhone() is not null %}
                        <p>{{ 'm'|trans }}: {{ entity.getMobilePhone() }}</p>
                    {% endif %}
                    {% if entity.getWorkPhone() is not null %}
                        <p>{{ 'w'|trans }}: {{ entity.getWorkPhone() }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
