{% extends '::dashboard.html.twig' %}

{% block title %} Lead edit {% endblock %}

{% block body -%}
    {{ form_start(edit_form) }}
    <div class="form-actions">
        <div class="col-sm-12">
            {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-default" href="{{ path('lead') }}">
                Back to the list
            </a>
        </div>
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock %}
