{% extends 'base.html.twig' %}

{% block pageTitle %}
    {{ 'templates.transaction.list'|trans }}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'templates.transaction.patient'|trans }}</th>
            <th>{{ 'templates.transaction.status'|trans }}</th>
            <th>{{ 'templates.transaction.date'|trans }}</th>
            <th>{{ 'templates.transaction.amount'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>
                    {{ transaction.getPatient().getFullName() }}
                </td>
                <td>
                    {{ transaction.getStatus() }}
                </td>
                <td>
                    {{ transaction.getDate()|date('d.m.Y') }}
                </td>
                <td>
                    {{ transaction.getAmount() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('transaction_add') }}" class="btn btn-primary btn-sm">{{ 'add'|trans }}</a>
        </div>
    </div>
{% endblock %}