{% extends '::dashboard.html.twig' %}

{% block title %}
    <div class="col-sm-4">
        <h2>{{ 'contact.export'|trans }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">{{ 'home'|trans }}</a>
            </li>
            <li class="active">
                <strong>{{ 'contact.export'|trans }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
    <a href="{{ path("json") }}">JSON</a>
    <a href="{{ path("xml") }}">XML</a>
    <a href="{{ path("html") }}">HTML </a>
    <a href="{{ path("csv") }}">CSV</a>
    <a href="{{ path("xls") }}">XLS</a>
    <a href="{{ path("pdf") }}">PDF</a>
{% endblock %}
